.boxfull{
    background-color: #F1CC04;
}

.boxfull2 {
    background: linear-gradient(to bottom, #F1CC04 50%, white 50%);
    background-size: 100% 250%;
    background-position: left top;
}

.boxempty {
    background: linear-gradient(to right, #F1CC04 50%, white 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.5s ease;
}

.boxempty2 {
    background: linear-gradient(to bottom, #F1CC04 50%, white 50%);
    background-size: 100% 250%;
    background-position:left bottom;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in;
}

.boxempty:hover {
    background-position:left bottom;
}

.arrowhidde {
    visibility: hidden;
}

.arrow {
    position: relative;
    left: -3px
}
.arrowdown {
    position: relative;
    top: -13px
}

.box {
    height: 12vh;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}
.box2 {
    height: 6vh;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}

body h1{
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

body h4{
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

body h5{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.navigation h3{
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

body p {
    font-family: 'Roboto Slab', serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.gray {
    color: gray;
}

.bigname {
    font-size: 60px;
}

.bigname_desc {
    font-size: 25px;
    font-weight: 100;
    color: gray;
}

.navLabel {
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.descript{
    font-size: 17px;
    font-weight: 300;
    color: gray;
    font-style: italic;
}


@media only screen and (min-width: 765px) {
    .labelR {
        text-align: right;
    }
    .labelL {
        text-align: left;
    }
    .backdiv {
        background-image: url('../src/Images/line.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .content {
        margin-top: 50px;
    }
    
  }
  
  @media only screen and (max-width: 570px) {
    .setboddy{
        background-color: white;
    }
    .marginT {
        margin-top: 50px;
    }
  }

